body{
    font-family: 'Nunito', sans-serif;
}

header{
    background-color: #BBBBBB;
    padding: 20px 0;
}

.caja{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
    font-weight: bold;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    color: #000000;
}

nav a:hover{
    color: #2A44FF;
}

main{
    width: 940px;
    margin: 0 auto;
}

footer{
    text-align: center;
    background: url("./img/bg.jpg");
    padding: 40px;
}

.copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px;
}

/* CCS para home*/

.contenido{
    width: 100%;
}

.banner{
    width: 100%;
}

.principal{
    width: 940px;
    margin: 0 auto;
}

.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin: 1em 0;
    clear: left;
}

.principal p{
    margin: 0 0 1em;
}

.principal strong{
    font-weight: bold;
}

.principal em{
    font-style: italic;
}

.img-utensilios{
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

.mapa {
    padding: 2em 0;
    background: linear-gradient(#FEFEFE, #888888);
}

.mapa-contenido{
    width: 940px;
    margin: 0 auto;
}

.mapa p{
    margin: 1.5em 0;
    text-align: center;
}

.diferenciales {
    padding: 1em 0;
    background: #888888;
}

.diferenciales-contenido {
    width: 740px;
    margin: 0 auto;
}

.dif-lista {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.dif-items{
    line-height: 1.5;
}

.dif-items:before{
    content:"★"
}

.dif-items:first-child{
    font-weight: bold;
}

.img-diferenciales{
    width: 60%;
    transition: 400ms all;
}

.img-diferenciales:hover{
    opacity: 0.7;
    box-shadow: 5px 5px 25px 5px #000000;
}

.video{
    width: 560px;
    margin: 2em auto;
}

/*MEDIA QUERY*/
@media screen and (max-width:480px){

    h1{
        text-align: center;
    }

    .caja, .principal, .diferenciales-contenido, .mapa-contenido, .video{
        width: auto;
        padding: 20px;
    }

    nav{
        position: static;
    }

    .navegacion li{
        display: block;
        text-align: center;
    }

    .dif-lista{
        display: block;
        width: 100%;
        margin: 10px 0;
        text-align: center;
    }

    .img-diferenciales{
        width: 100%;
    }

    
}
