.productos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.productos li{
    display: inline-block;
    width: 30%;
    vertical-align: top;
    text-align: center;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border-color: #000000;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
}

.productos li:hover{
    border-color: #2A44FF;
}

.productos li:hover h2{
    font-size: 33px;
}

.productos li:active{
    border-color: #00FF17;
}

.productos h2{
    font-size: 30px;
    font-weight: bold;
}

.producto-descripcion{
    font-size: 17px;
}

.producto-precio{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

@media screen and (max-width:480px){
    main, .productos{
        width: auto;
    }

    .productos{
        padding: 20px;
    }

    .productos li{
        display: block;
        width: 100%;
        margin: 20px 0;
    }
}
